<nav class="navbar navbar-home navbar-fixed-top top-nav-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand img-responsive' do %>
        <%= image_tag('logos/lappis-logo-1.png', alt: 'LAPPIS', class: 'img-responsive',
                      id: 'navbar-img') %>
      <% end %>
      <button type="button" name="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#index-menu" aria-expanded="true">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="index-menu">
      <%= content_tag :ul, navbar_links(:about, :products, :partners, :blog, :radar).html_safe,
          class: "nav navbar-nav" %>
    </div>
  </div>
</nav>
