<%= render 'pages/blog_header' %>

<div class="articles">
  <div class="container">
    <% @articles.each do |article| %>
        <div class="post">

          <%= link_to "/blog/#{article['id']}" do %>
            <h2><%= article["title"] %></h2>
          <% end %>

          <div class="publishing-info">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span class="date-container">
              <span class="date">
                <%= article["created_at"].day %> de
                <%= months_names[article["created_at"].month - 1] %> de
                <%= article["created_at"].year %>
              </span>, por <%= article["author"]["name"] %>
            </span>
          </div>

          <div class="article-body">
            <%= truncate_html(article["body"], length: 512) %>
          </div>
        </div>
    <% end %>
  </div>
</div>
