@import "font-awesome";

$s: 320px;
$m: 760px;
$l: 1368px;

.navbar-home {
  border-bottom: solid 1px #555 !important;
  font-size: 1.15em;
  background-color: #3D3D3B;
  color: white;
  padding-top: 0em;
  padding-bottom: 0em;

  button {
    border: solid #fff 1.5px;
    padding: .2em .3em;
    vertical-align: middle;
  }

  a {
    color: #dfdfdf;
    border-bottom: solid 1.5px transparent;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
      color: #fff;
      border-bottom: solid 1.5px #ddd;
    }
  }

  li:hover {
    background-color: transparent;
  }
}

// contains that static laptop image on the background
.parallax-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $m) {
    min-height: 100vh;
  }

  &.intro-bgimg {
    @media screen and (min-width: $s) {
      background-color: #000;
    }

    @media screen and (min-width: $m) {
      background-image: url("/images/background/bgimg-2.jpg");
    }
  }
}


// TODO: refactorate
.product-block{
  height: 230px;
  vertical-align: middle;
}

.partner-container {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .45em;
  text-align: center;
}

.partner-img {
  width: 120px;
  height: 120px !important;
}

.icon-github {
  color: #aaa;
  font-size: 1.5em;
}

.icon-github:hover {
  color: #000;
}

.icon-gitlab {
  color: #aaa;
  font-size: 1.5em;
}

.icon-gitlab:hover {
  color: #EF711A;
}

.icon-linkedin {
  color: #aaa;
  font-size: 1.5em;
}

.section-body {
  padding-top: 3em;
  padding-bottom: 3em;
}

.icon-linkedin:hover {
  color: #5D9FDB;
}

#lappis-intro {
  color: #fffff2;

  @media screen and (min-width: $s) {
    width: 80%;
    float: none;
    margin: auto;
    padding: 7em 0em;
  }

  @media screen and (min-width: $m) {
    width: 40%;
    float: right;
    padding: 7em 5em 2em 5em;
  }

  h1 {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 15px;

    img {
      width: 100%;
    }
  }

  p {
    @media screen and (min-width: $s) { font-size: 1.0em; }
    @media screen and (min-width: $m) { font-size: 1.5em; }
    text-align: center;
    margin-top: 0;
  }

  .btn-container {
    text-align: center;

    .btn {
      font-family: 'Open Sans', sans-serif;
      margin: 0.5em;
      border-radius: 5px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .4s;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      display: inline-block;

      @media screen and (min-width: $s) {
        font-size: 1.0em;
        padding: 1em;
      }

      @media screen and (min-width: $m) {
        font-size: 1.4em;
        padding: 1em;
      }

      &.btn-green {
        color: #fffff2;
        border: 2px #4CAF50 solid;
        background-color: transparent;

        &:hover {
          background-color: #4CAF50;
        }
      }
    }
  }
}

.navbar-brand {
  padding: 0 !important;
}

#index-menu {
  align-self: center;
}

#about-section {
  background-color: #f3f3f3;
  padding-top: .5em;
  padding-bottom: .5em;
}

#products-section {
  background-color: #ffffff;
  padding-top: .5em;
  padding-bottom: .5em;
}

#partners-section {
  background-color: #f3f3f3;
  padding-top: .5em;
  padding-bottom: .5em;
}



@media (min-width: 768px) {
  .navbar-home {
    ul li {
      padding-top: 2em;
      padding-bottom: 2em;

      a {
      padding-top: .2em;
      padding-bottom: .2em;
      }
    }


    #navbar-img {
      margin: 1em auto auto .5em;
    }

    font-size: 1.2em;
    background-color: transparent;
    transition: all .7s ease-in-out;
    border-bottom: none !important;
  }

  .top-nav-collapse {
    #navbar-img {
      margin: auto;
    }

    ul li {
      padding: 0;

      a {
        padding-top: .8em;
        padding-bottom: .8em;
      }
    }
    background-color: black;
    font-size: 1.1em;
    transition: all .7s ease-in-out;
    border-bottom: solid 1px #333 !important;
  }
}
