<!DOCTYPE html>
<html>
  <head>
    <%= content_tag :title, 'Lappis' %>
    <%= favicon_link_tag '/assets/lappis-logo.ico' %>
    <%= tag :meta, name: 'viewport', content: 'initial-scale=1.0,
        maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' %>

    <!-- metas for changing the browser theme on mobile -->
    <%= tag :meta, name: 'theme-color', content: '#333333' %>
    <%= tag :meta, name: 'apple-mobile-web-app-status-bar-style',
            content: '#333333' %>
    <%= tag :meta, name: 'msapplication-navbutton-color', content: '#333333' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto"
          rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag facebook_comments_plugin %>
  </head>
  <body id="page-top">
    <%= content_tag :div, nil, id: 'fb-root' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
